
.who{
  margin-top: 50px;
}

.who h1{
  color: #fff;
  text-align: center;
  font-size: 72px;
}
.who span {
  background: linear-gradient(90deg, #720BC1, #D9A7FF);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* Rendre le texte transparent pour voir le dégradé en arrière-plan */
}
.text{
  margin: 50px auto;
  display: flex;
  color: #fff;
  font-size: 28px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.text p{
  width: auto;
  text-align: center;
  width: 100%;
  font-weight: 300;
  height: 245px;
}
.text img{
  margin: 0 30px;
}
.hrr {
  margin-top: 20px;
  width: 75%;
  margin: 0;
}
/* @media (max-width:1280px){
  .who h1{
    font-size: 60px;
  }
  .text{
    font-size: 24px;
  }
}

@media (max-width:942px){
  .who h1{
    font-size: 48px;
  }
  .text{
    font-size: 20px;
  }
} */

/* Media queries pour les écrans plus petits */
@media (max-width: 1440px) {
  .who h1 {
    font-size: 60px;
  }

  .text {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .who h1 {
    font-size: 48px;
  }

  .text {
    flex-direction: column; /* Empiler verticalement */
    font-size: 20px;
  }

  .text p, .text img {
    width: 100%; /* Les paragraphes et images prennent 100% de la largeur */
    text-align: center;
    margin: 10px 0;
  }
  .text p{
    height: auto;
  }
  .text img {
    margin: 20px auto; /* Centrer les images verticalement */
    height: 4px;
    width: 25%;
  }
}

@media (max-width: 600px) {
  .who h1 {
    font-size: 36px;
  }

  .text {
    font-size: 18px;
  }

  .text p {
    font-size: 16px;
  }
}